web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth1.hdf5
web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth2.hdf5
web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth1.hdf5
web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth2.hdf5
web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth1.hdf5
web-app/src/models/FNO/datasets/Darcy_241/piececonst_r241_N1024_smooth2.hdf5
