:root {
  --blue: #1897ff;
  --darkblue: #007ffd;
  --pink: #f5a5be;
  --darkpink: #f35b8b;

}

button,   .customUpload {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--pink);
    border: var(--blue);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    
  }


  
  button:hover,  .customUpload:hover {

    background-color: rgba(237, 136, 63, 0.909);
    box-shadow: 3px 3px rgba(154, 65, 2, 0.909);
  }


  .fileText {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 1px 5px;
    font-size: 14px;
  }
  
